<%# Sample Breadcrumb %>
<nav class="breadcrumb" role="navigation">
  <ol>
    <li><a href="/?locale=en">Home</a></li>
    <li><a href="/dashboard?locale=en">Dashboard</a></li>
    <li><a href="/dashboard/jobs?locale=en">Preflight</a></li>
  </ol>
</nav>

<div class="card card--job">
  <h2 class="card-header">Preflight Job #<%= @job&.id %>
    <span class="badge rounded-pill bg-success bg-warning bg-danger"><%= @job&.status || 'Unknown'%></span>
  </h2>
  <%# End Card Header %>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <dl class="col-md-4">
            <dt>User</dt>
            <dd><%= @job&.user %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Submitted At</dt>
            <dd><%= @job&.created_at %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Completed at</dt>
            <dd><%= @job&.completed_at || '--' %><dd></dl>
            </div>
            <div class="row">
              <dl class="col-md-12 filename">
                <dt>File</dt>
                <dd>
                  <% if @job&.manifest&.attached? %>
                    <%= link_to(@job.manifest.filename, rails_blob_path(@job.manifest, disposition: 'attachment')) %>
                  <% else %>
                    --
                  <% end %>
                </dd>

              </dl>
            </div>
          </div>
          <div class="col-md-4">
            <dl class="row">
              <span class="col-md-4">
                <dt>Collections</dt>
                <dd class="job-number"><%= @job&.collections || 'N/A' %></dd>
              </span>
              <span class="col-md-4">
                <dt>Works</dt>
                <dd class="job-number"><%= @job&.works || 'N/A' %></dd>
              </span>
              <span class="col-md-4">
                <dt>Files</dt>
                <dd class="job-number"><%= @job&.files || 'N/A' %></dd>
              </span>
            </dl>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div
          class="pull-right">
          <%# IMPORT SUBMISSION FORM %>
          <% if @preflight_graph.fatal_errors.empty? %>
            <%= form_with(model: Import, local: true) do |form| %>
              <%= form.hidden_field :parent_job_id, value: @job.id %>
              <div class="actions">
                <%= form.submit 'Start Import', type: 'submit', class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card card-default">
      <div class="card-body">
        <%# TODO %>
        <%# This view is really large and could reasonably be broken into partials. %>
        <%# I'm leaving it in a single file for now because the  %>
        <%# API for the preflight graph is still in flux %>
          <h3>
        Analysis
        </h3>

        <%# ERRORS %>
        <% unless @preflight_graph.fatal_errors.blank? %>
          <div class="preflight-errors card card-default"> <h4 class="bg-danger" ">Errors</h4>
          <ul>
            <% @preflight_graph.fatal_errors.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# WARNINGS %>
      <% unless @preflight_graph.warnings.blank? %>
      <div class="preflight-warnings card card--job">
        <h4 class="card-header bg-warning">
          Warnings
        </h4>
        <ul>
          <% @preflight_graph.warnings.each do |warning| %>
            <li><%= warning %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="card card-default">
  <div class="card-body">
    <h3>Objects</h3>

    <%# COLLECTIONS %>
    <% unless @preflight_graph.collections.blank? %>
      <div class="preflight-collections card card--job">
        <h4 class="card-header bg-info">
          <span class="">Collections</span>
        </h4>
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>Row</th>
              <th>Visibility</th>
              <th>Identifier</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <% @preflight_graph.collections.each do |item| %>
              <tr>
                <td><%= item.lineno %></td>
                <td><%= item.visibility %></td>
                <td><%= item.identifier %></td>
                <td><%= item.title %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <%# WORKS %>
    <% unless @preflight_graph.works.blank? %>
      <div class="preflight-works card card--job">
        <h4 class="card-header bg-info">Works</h4>
        <div class="card-body">
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>Row</th>
                <th>Visibility</th>
                <th>Identifier</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <% @preflight_graph.works.each do |item| %>
                <tr>
                  <td><%= item.lineno %></td>
                  <td><%= item.visibility %></td>
                  <td><%= item.identifier %></td>
                  <td><%= item.title %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <%# FILES %>
    <% unless @preflight_graph.files.blank? %>
      <div class="preflight-files card card--job">
        <h4 class="card-header bg-info">Files</h4>
        <div class="card-body">
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>Row</th>
                <th>Visibility</th>
                <th>Parent</th>
                <th>Path</th>
                <th>Filename</th>
              </tr>
            </thead>
            <tbody>
              <% @preflight_graph.files.each do |item| %>
                <tr>
                  <td><%= item.lineno %></td>
                  <td><%= item.visibility %></td>
                  <td><%= item.parent %></td>
                  <td><%= item.import_path %>/
                  </td>
                  <td><%= item.file %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>