<h1>Preflight Job #<%= @job&.id %></h1>

<%# TODO %>
<%# This view is really large and could reasonably be broken into partials. %>
<%# I'm leaving it in a single file for now because the  %>
<%# API for the preflight graph is still in flux %>

<%# JOB OVERVIEW %>
<div id="preflight-user"><p>
  <strong>User:</strong>
  <%= @job&.user %>
</p></div>

<div id="preflight-manifest"><p>
  <strong>File:</strong>
  <% if @job&.manifest&.attached? %>
    <%= link_to(@job.manifest.filename, rails_blob_path(@job.manifest, disposition: 'attachment')) %>
  <% else %>
    --
  <% end %>
</p></div>

<div id="preflight-created_at"><p>
  <strong>Submitted:</strong>
  <%= @job&.created_at %>
</p></div>

<div id="preflight-status"><p>
  <strong>Status:</strong>
  <%= @job&.status || 'Unknown'%>
</p></div>

<div id="preflight-completed_at"><p>
  <strong>Completed at:</strong>
  <%= @job&.completed_at || '--' %>
</p></div>

<div id="preflight-collections"><p>
  <strong>Collections:</strong>
  <%= @job&.collections || '--' %>
</p></div>

<div id="preflight-works"><p>
  <strong>Works:</strong>
  <%= @job&.works || '--' %>
</p></div>

<div id="preflight-files"><p>
  <strong>Files:</strong>
  <%= @job&.files || '--' %>
</p></div>

<%= link_to 'Back', jobs_path, class: 'btn btn-default' %>

<%# IMPORT SUBMISSION FORM %>
<% if @preflight_graph.fatal_errors.empty? %>
  <%= form_with(model: Import, local: true) do |form| %>
    <%= form.hidden_field :parent_job_id, value: @job.id %>
    <div class="actions">
      <%= form.submit 'Start Import', type: 'submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<h2>Analysis</h2>

<%# ERRORS %>
<% unless @preflight_graph.fatal_errors.blank? %>
  <div class="preflight-errors well well-sm">
    <h4 class="bg-danger"">Errors</h4>
    <ul>
      <% @preflight_graph.fatal_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# WARNINGS %>
<% unless @preflight_graph.warnings.blank? %>
  <div class="preflight-warnings well well-sm">
    <h4 class="bg-warning">Warnings</h4>
    <ul>
      <% @preflight_graph.warnings.each do |warning| %>
        <li><%= warning %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# COLLECTIONS %>
<% unless @preflight_graph.collections.blank? %>
  <div class="preflight-collections well well-sm">
    <h4 class="bg-info">Collections</h4>
    <table>
      <colgroup>
        <col style="width: 5rem;">
        <col style="width: 10rem;">
        <col style="width: 15rem;">
        <col>
      </colgroup>
      <thead><tr>
        <th>Row</th>
        <th>Visibility</th>
        <th>Identifier</th>
        <th>Title</th>
      </tr></thead>
      <tbody>
      <% @preflight_graph.collections.each do |item| %>
        <tr>
          <td><%= item.lineno %></td>
          <td><%= item.visibility %></td>
          <td><%= item.identifier %></td>
          <td><%= item.title %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%# WORKS %>
<% unless @preflight_graph.works.blank? %>
  <div class="preflight-works well well-sm">
    <h4 class="bg-info">Works</h4>
    <table>
      <colgroup>
        <col style="width: 5rem;">
        <col style="width: 10rem;">
        <col style="width: 15rem;">
        <col>
      </colgroup>
      <thead><tr>
        <th>Row</th>
        <th>Visibility</th>
        <th>Identifier</th>
        <th>Title</th>
      </tr></thead>
      <tbody>
      <% @preflight_graph.works.each do |item| %>
        <tr>
          <td><%= item.lineno %></td>
          <td><%= item.visibility %></td>
          <td><%= item.identifier %></td>
          <td><%= item.title %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%# FILES %>
<% unless @preflight_graph.files.blank? %>
  <div class="preflight-files well well-sm">
    <h4 class="bg-info">Files</h4>
    <table>
      <colgroup>
        <col style="width: 5rem;">
        <col style="width: 10rem;">
        <col style="width: 15rem;">
        <col>
      </colgroup>
      <thead><tr>
        <th>Row</th>
        <th>Visibility</th>
        <th>Parent</th>
        <th>Path</th>
        <th>Filename</th>
      </tr></thead>
      <tbody>
      <% @preflight_graph.files.each do |item| %>
        <tr>
          <td><%= item.lineno %></td>
          <td><%= item.visibility %></td>
          <td><%= item.parent %></td>
          <td><%= item.import_path %>/ </td>
          <td><%= item.file %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%# RAW GRAPH %>
<p>
  <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#rawPreflight" aria-expanded="false" aria-controls="rawPreflight">
    Show raw preflight
  </button>
</p>
<div class="collapse" id="rawPreflight">
  <div class="card card-body">
    <p><%= @preflight_graph %></p>
  </div>
</div>
