<%= form_with(model: theme, local: true) do |form| %>
  <% if theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme.errors.count, "error") %>
        prohibited this theme from being saved:</h2>

      <ul>
        <% theme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <h4>Configuration</h4>
    <div class="row">
      <div class="col-xs-12">
        <%= form.label :site_title %>
        <%= form.text_field :site_title, class: 'form-control' %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="field form-group">
    <h4>Images</h4>
    <div class="row">
      <div class="col-xs-12">

        <%= form.label 'Change Logo' %>
        <%= form.file_field :logo %>

      </div>
    </div>
  </div>
  <hr/>
  <div class="field form-group">
    <h4>Colors</h4>
    <div class="row">
      <div class="col-xs-12">
        <%= form.label :primary_color %>
        <%= form.color_field :primary_color, class: 'form-control' %>
      </div>
      <div class="col-xs-12">
        <%= form.label :accent_color %>
        <%= form.color_field :accent_color, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="field form-group">
    <div class="row">
      <div class="col-xs-12">
        <%= form.label :primary_text_color %>
        <%= form.color_field :primary_text_color, class: 'form-control' %>
      </div>

      <div class="col-xs-12">
        <%= form.label :accent_text_color %>
        <%= form.color_field :accent_text_color, class: 'form-control' %>
      </div>

      <div class="col-xs-12">
        <%= form.label :background_color %>
        <%= form.color_field :background_color, class: 'form-control' %>
      </div>
    </div>
  </div>

  <hr/>
  <div class="actions">
    <%= form.submit 'Preview Changes', name: 'save', class: 'btn btn-primary btn-block' %>

    <%= button_tag(name: 'apply', class: 'btn btn-success btn-block', value: 'true') do %>
      <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Apply Changes
    <% end %>

    <%= button_tag(name: 'reset', class: 'btn btn-default btn-block', value: 'true') do %>
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset to Defaults
    <% end %>
  </div>
<% end %>
