<div class="card card--job">
  <h2 class="card-header">Job #<%= @job&.id %>
    -
    <%= @job.class.name %>
    <%= status_span_generator(@job&.status) %>
  </h2>
  <%# End Card Header %>

  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <dl class="col-md-4">
            <dt>User</dt>
            <dd class="job-user"><%= @job&.user %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Submitted At</dt>
            <dd class="job-created_at"><%= @job&.created_at %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Completed at</dt>
            <dd class="job-completed_at"><%= @job&.completed_at || raw("&ndash;") %><dd>
          </dl>
        </div>
        <div class="row">
          <dl class="col-md-12 filename">
            <dt>File</dt>
            <dd class="job-manifest">
              <% if @job&.manifest&.attached? %>
                <%= link_to(@job.manifest.filename, rails_blob_path(@job.manifest, disposition: 'attachment')) %>
                <span class="fa fa-download"></span>
              <% else %>
                &ndash;
              <% end %>
            </dd>

          </dl>
        </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <dl class="col-xs-4">
                <dt class="text-nowrap">Collections</dt>
                <dd class="job-number job-collections"><%= dasher(@job&.collections)  %></dd>
              </dl>
              <dl class="col-xs-4">
                <dt class="text-nowrap">Works</dt>
                <dd class="job-number job-works"><%= dasher(@job&.works) %></dd>
              </dl>
              <dl class="col-xs-4">
                <dt class="text-nowrap">Files</dt>
                <dd class="job-number job-files"><%= dasher(@job.graph.flatten.select{|x| x.kind_of?Tenejo::PFFile}.count)%></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
