<table class="table table-responsive table--job ">
  <tbody>
    <tr>
      <td class="title" style="padding-left: <%= depth * 2 %>rem;">
        <% if node.children.any? || node.children.select{|x| x.kind_of?Tenejo::PFFile}.try(:any?) %>
          <button class="btn btn-info btn-xs import_expand" type="button" data-toggle="collapse" data-target=".child-of-<%= node.lineno %>" aria-expanded="false" aria-controls=".children-#{node.lineno}">
            +
          </button>
        <% else %>
          &nbsp;
        <% end %>
        <%= node.title.first unless node.kind_of?Tenejo::PFFile %>
        <% if node.kind_of? Tenejo::PFFile %>
          <span class="file-name">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <%= node.file %>
          </span>
        <% end %>
      </td>
      <td class="item_status">
        <%= status_span_generator(node.status) %>
      </td>
      <td class="identifier">
        <%= node.identifier.first %>
      </td>
      <td class="lineno"><%= node.lineno %></td>
      <td class="index"><%= order || raw("&ndash;") %></td>
      <td class="type"><%= node.class.to_s.delete_prefix("Tenejo::PF").truncate(1, omission: "") %></td>
      <td class="visibility"><%= node.visibility %></td>
      <td class="collection_count">
        <%= dasher(node.collections&.count) %>
      </td>
      <td class="work_count">
        <%= dasher(node.works&.count) %>
      </td>
      <td class="file_count">
          <%= dasher(node.files&.count) unless node.kind_of?Tenejo::PFFile%>
      </td>
    </tr>
  </tbody>
</table>

<div class="job-child collapse in child-of-<%= node.lineno %>">
  <% node.children.each do |child| %>
    <%= render "child", node: child, parent: node.lineno, depth: depth + 1, order: nil %>
  <% end %>
</div>
