<p id="notice"><%= notice %></p>

<div class="col-xs-12 main-header">
  <h1>
    <span class="fa fa-cogs"></span>Jobs</h1>
  <div class="pull-right"><%= link_to 'New Job', new_job_path, class: 'btn btn-primary' %></div>

</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table id="jobs-index" class="table table-responsive dataTable datatable table-striped">
      <thead>
        
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>User</th>
          <th>Status</th>
          <th>Completed at</th>
          <th>Collections</th>
          <th>Works</th>
          <th>Files</th>
          <th data-orderable="false">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>
          <%#= raise "job looks like this: #{job}" %>
          <tr>
            <td><%= link_to job.id, job %></td>
            <td><%= job.type %></td>
            <td><%= job.user %></td>
            <td>
              <%= status_span_generator(job.status) %>
            </td>
            <td><%= job.completed_at %></td>
            <td><%= job.collections %></td>
            <td><%= job.works %></td>
            <td><%= job.files %></td>
            <td><%= link_to 'Show', job %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>

  $('#jobs-index').dataTable({
    "pageLength": 25,  
    order: [[ 0, 'desc' ]]
    });
</script>
