<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <%= image_tag 'pwdByTenejo-default@2x.png', height: "41px" %>
      <% if production_host? %>
        <div class="version">
          <%= BRANCH %>
        </div>
      <% end %>
      <% if Flipflop.footer_version?%>
        <% unless production_host? %>
          <%# Display detailed git information in dev, test, and non-production environments %>
          <div class="version">
            ENV: <%= Rails.env %>
            <br>SHA: <%= GIT_SHA %>
            <br>Branch: <%= BRANCH %>
            <br>Updated: <%= LAST_DEPLOYED %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <div class="version">
          Tenejo Version:
          <%= BRANCH %>
        </div>
      </div>
    </div>
  </div>
</footer>