<table class="job">
  <tbody>
    <tr class="file">
      <td class="identifier" style="padding-left: <%= depth * 2 %>rem;">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        <%= node.try(:identifier).try(:first) || "auto" %>
      </td>
      <td class="lineno"><%= node.lineno %></td>
      <td class="type"><%= node.class.to_s.delete_prefix("Tenejo::PF").truncate(4, omission: "") %></td>
      <td class="visibility"><%= node.visibility %></td>
      <td class="collection_count"> -</td>
      <td class="work_count"> -</td>
      <td class="file_count"> -</td>
      <td class="index"><%= order %></td>
      <td class="title"><span class="file-name"> <%= node.files %></span></td>
      <td class="filename"></td>
    </tr>
  </tbody>
</table>
