<h1>Import Job #<%= @job&.id %></h1>

<%# JOB OVERVIEW %>
<div id="import-user"><p>
  <strong>User:</strong>
  <%= @job&.user %>
</p></div>

<div id="import-manifest"><p>
  <strong>File:</strong>
  <% if @job&.parent_job&.manifest&.attached? %>
    <%= link_to(@job&.parent_job.manifest.filename, rails_blob_path(@job&.parent_job.manifest, disposition: 'attachment')) %>
  <% else %>
    --
  <% end %>
</p></div>

<div id="import-created_at"><p>
  <strong>Submitted:</strong>
  <%= @job&.created_at %>
</p></div>

<div id="import-status"><p>
  <strong>Status:</strong>
  <%= @job&.status || 'Unknown'%>
</p></div>

<div id="import-completed_at"><p>
  <strong>Completed at:</strong>
  <%= @job&.completed_at || '--' %>
</p></div>

<div id="import-collections"><p>
  <strong>Collections:</strong>
  <%= @job&.collections || '--' %>
</p></div>

<div id="import-works"><p>
  <strong>Works:</strong>
  <%= @job&.works || '--' %>
</p></div>

<div id="import-files"><p>
  <strong>Files:</strong>
  <%= @job&.files || '--' %>
</p></div>

<table class="job">
  <thead>
    <td class="identifier">Identifier</td>
    <td class="item_status">Status</td>
    <td class="lineno">Row</td>
    <td class="type">Type</td>
    <td class="visibility">Visibility</td>
    <td class="collection_count">cs</td>
    <td class="work_count">ws</td>
    <td class="file_count">fs</td>
    <td class="index">Order</td>
    <td class="title">title <span class="file-name">/ filename</span></td>
    <td class="filename">filename</td>
  </thead>
  <tbody></tbody>
</table>
    <% @root.dig('children')&.each do |child| %>
      <%= render "child", node: child, parent: "0", depth: 0, order: nil %>
    <% end %>

<br/>
<%= link_to 'Back', jobs_path, class: 'btn btn-default ' %>
