<div class="card card--job">
  <h2 class="card-header">Job #<%= @job&.id %> - Import 
    <span class="jobs-status badge rounded-pill bg-success bg-warning bg-danger"><%= @job&.status || 'Unknown'%></span>
  </h2>

  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">

          <dl class="col-md-4">
            <dt>User</dt>
            <dd class="jobs-user"><%= @job&.user %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Submitted At</dt>
            <dd class="jobs-created_at"><%= @job&.created_at %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Completed at</dt>
            <dd class="jobs-completed_at">
              <%= @job&.completed_at || '--' %>
              <dd></dl>
            </div>
            <div class="row">
              <dl class="col-md-12 filename">
                <dt>File</dt>
                <dd class="job-manifest">
                  <% if @job&.parent_job&.manifest&.attached? %>
                    <%= link_to(@job&.parent_job.manifest.filename, rails_blob_path(@job&.parent_job.manifest, disposition: 'attachment'), class: "card-link") %>
                  <% else %>
                    --
                  <% end %>
                </dd>
              </dl>
            </div>
          </div>
          <div class="col-md-4">
            <dl class="row">
              <span class="col-md-4">
                <dt>Collections</dt>
                <dd class="job-number jobs-collections"><%= @job&.collections || 'N/A' %></dd>
              </span>
              <span class="col-md-4">
                <dt>Works</dt>
                <dd class="job-number jobs-works"><%= @job&.works || 'N/A' %></dd>
              </span>
              <span class="col-md-4">
                <dt>Files</dt>
                <dd class="job-number jobs-files"><%= @job&.files || 'N/A' %></dd>
              </span>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="card card--job">
      <div class="card-body">
        <table class="table table-responsive table-striped job">
          <thead>
            <th class="item_status">Status</th>
            <th class="lineno">Row</th>
            <th class="type">Type</th>
            <th class="visibility">Visibility</th>
            <th class="collection_count">cs</th>
            <th class="work_count">ws</th>
            <th class="file_count">fs</th>
            <th class="index">Order</th>
            <th class="title">title
              <span class="file-name">/ filename</span>
            </th>
            <th class="filename">filename</th>
          </thead>
          <tbody></tbody>
        </table>
        <% @root.children.each do |child| %>
          <%= render "child", node: child, parent: "0", depth: 0, order: nil %>
        <% end %>
      </div>
    </div>
