<div class="card card--job">
  <h2 class="card-header">
    Exports Job #<%= @job&.id %>
    <span class="badge rounded-pill bg-success bg-warning bg-danger"><%= @job&.status || 'Unknown'%></span>
  </h2>

  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <dl class="col-md-4">
            <dt>User</dt>
            <dd><%= @job&.user %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Submitted At</dt>
            <dd><%= @job&.created_at %></dd>
          </dl>
          <dl class="col-md-4">
            <dt>Completed at</dt>

            <dd><%= @job&.completed_at || '--' %></dd>

            <dd></dd>
          </dl>
        </div>
        <div class="row">
          <dl class="col-md-12 filename">
            <dt>File</dt>
            <dd>
              <% if @job&.manifest&.attached? %>
                <%=
							link_to(@job.manifest.filename, rails_blob_path(@job.manifest,
							disposition: 'attachment')) %>
              <% else %>
                --
              <% end %>
            </dd>


          </dl>
        </div>
      </div>
      <div class="col-md-4">
        <dl class="row">
          <span class="col-md-4">
            <dt>Collections</dt>
            <dd class="job-number"><%= @job&.collections || 'N/A' %></dd>
          </span>
          <span class="col-md-4">
            <dt>Works</dt>
            <dd class="job-number"><%= @job&.works || 'N/A' %></dd>
          </span>
          <span class="col-md-4">
            <dt>Files</dt>
            <dd class="job-number"><%= @job&.files || 'N/A' %></dd>
          </span>
        </dl>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button class="btn btn-primary" disabled>Download CSV</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-responsive table-striped">
          <thead>
            <thead>
              <th class="item_status">Status</th>
              <th class="lineno">Row</th>
              <th class="type">Type</th>
              <th class="visibility">Visibility</th>
              <th class="collection_count">cs</th>
              <th class="work_count">ws</th>
              <th class="file_count">fs</th>
              <th class="index">Order</th>
              <th class="title">title / filename</th>
              <th class="filename">filename</th>
            </thead>
          </thead>
          <tbody>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td>g</td>
              <td>h</td>
              <td>i</td>
              <td>j</td>
            </tr>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td>g</td>
              <td>h</td>
              <td>i</td>
              <td>j</td>
            </tr>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td>g</td>
              <td>h</td>
              <td>i</td>
              <td>j</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
